--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
pytesseract
pdf2image
pillow
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq
sentence-transformers
chromadb
python-dotenv
torch==2.2.1+cpu
torchvision==0.17.1+cpu